<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lth.kaoqinsys.dao.T_C_SMapper">
	<resultMap id="BaseResultMap" type="com.lth.kaoqinsys.pojo.T_C_S">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="classroom" property="classroom" jdbcType="VARCHAR" />
		<result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
		<result column="course_id" property="courseId" jdbcType="INTEGER" />
		<result column="time_map" property="timeMap" jdbcType="INTEGER" />
		<result column="student_id" property="studentId" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="TINYINT" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="week" property="week" jdbcType="VARCHAR" />
		<result column="year" property="year" jdbcType="INTEGER" />
		<result column="term" property="term" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, classroom, teacher_id, course_id, time_map, student_id,
		type, state,
		week, year,
		term
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from teacher_course_student
		where id = #{id,jdbcType=INTEGER}
	</select>



	<select id="selectKeBiaoByTeacherId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from teacher_course_student
		where teacher_id =
		#{teacher_id,jdbcType=INTEGER} GROUP BY time_map
	</select>

	<select id="selectStudentByCourseId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from teacher_course_student
		where course_id =
		#{course_id,jdbcType=INTEGER} GROUP BY student_id
	</select>

	<select id="selectStudentBySomeCondition" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from teacher_course_student
		where course_id =#{0}
		and  time_map=#{1}
		and  week=#{2}
		and  term=#{3}
		and  year=#{4}
		and  classroom=#{5}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		teacher_course_student
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lth.kaoqinsys.pojo.T_C_S">
		insert into
		teacher_course_student (id, classroom, teacher_id,
		course_id, time_map,
		student_id,
		type, state, week,
		year, term)
		values
		(#{id,jdbcType=INTEGER}, #{classroom,jdbcType=VARCHAR},
		#{teacherId,jdbcType=INTEGER},
		#{courseId,jdbcType=INTEGER},
		#{timeMap,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER},
		#{type,jdbcType=TINYINT}, #{state,jdbcType=INTEGER},
		#{week,jdbcType=VARCHAR},
		#{year,jdbcType=INTEGER},
		#{term,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" parameterType="com.lth.kaoqinsys.pojo.T_C_S">
		insert into teacher_course_student
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="classroom != null">
				classroom,
			</if>
			<if test="teacherId != null">
				teacher_id,
			</if>
			<if test="courseId != null">
				course_id,
			</if>
			<if test="timeMap != null">
				time_map,
			</if>
			<if test="studentId != null">
				student_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="week != null">
				week,
			</if>
			<if test="year != null">
				year,
			</if>
			<if test="term != null">
				term,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="classroom != null">
				#{classroom,jdbcType=VARCHAR},
			</if>
			<if test="teacherId != null">
				#{teacherId,jdbcType=INTEGER},
			</if>
			<if test="courseId != null">
				#{courseId,jdbcType=INTEGER},
			</if>
			<if test="timeMap != null">
				#{timeMap,jdbcType=INTEGER},
			</if>
			<if test="studentId != null">
				#{studentId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="week != null">
				#{week,jdbcType=VARCHAR},
			</if>
			<if test="year != null">
				#{year,jdbcType=INTEGER},
			</if>
			<if test="term != null">
				#{term,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lth.kaoqinsys.pojo.T_C_S">
		update teacher_course_student
		<set>
			<if test="classroom != null">
				classroom = #{classroom,jdbcType=VARCHAR},
			</if>
			<if test="teacherId != null">
				teacher_id = #{teacherId,jdbcType=INTEGER},
			</if>
			<if test="courseId != null">
				course_id = #{courseId,jdbcType=INTEGER},
			</if>
			<if test="timeMap != null">
				time_map = #{timeMap,jdbcType=INTEGER},
			</if>
			<if test="studentId != null">
				student_id = #{studentId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="week != null">
				week = #{week,jdbcType=VARCHAR},
			</if>
			<if test="year != null">
				year = #{year,jdbcType=INTEGER},
			</if>
			<if test="term != null">
				term = #{term,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lth.kaoqinsys.pojo.T_C_S">
		update
		teacher_course_student
		set classroom = #{classroom,jdbcType=VARCHAR},
		teacher_id = #{teacherId,jdbcType=INTEGER},
		course_id =
		#{courseId,jdbcType=INTEGER},
		time_map = #{timeMap,jdbcType=INTEGER},
		student_id = #{studentId,jdbcType=INTEGER},
		type =
		#{type,jdbcType=TINYINT},
		state = #{state,jdbcType=INTEGER},
		week =
		#{week,jdbcType=VARCHAR},
		year = #{year,jdbcType=INTEGER},
		term =
		#{term,jdbcType=TINYINT}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>